@model Compras.Models.ComprasCliente

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>ComprasCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCompras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCompras)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompraId }) |
    @Html.ActionLink("Regresar al reporte de compras", "Index")
</p>
