@model IEnumerable<Compras.Models.ComprasCliente>

@{
    ViewBag.Title = "Index";
}

<h2>Reporte Compras</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCompras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCompras)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CompraId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CompraId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CompraId })
        </td>
    </tr>
}

</table>
